html, body{
    height: 100%;
    margin: 0;
    font-size: 1vw;
}

a{
    text-decoration: none;

}

.container{
    background: url("../../../images/event-timer.jpeg") center;
    height: 100%;
    background-size: cover;
    position: relative;
    color: white;
}

.center{
    width: 80%;
    border-radius: 1vw;
    position: absolute;
    top: 35vw;
    left: 10vw;
    text-align: center;
}

h1, p{
    font-family: sans-serif;
    font-weight: lighter;
}

h1{
    font-size: 4.2rem;
}

p{
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}
#text-value{
    padding: 2vw 0 1vw;
}
input{
    border: 0.2vw black solid;
    width: 15vw;
    height: 2vw;
    margin-top: 1vw;
}
label{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: sans-serif;
    border: 0.2vw white solid;
    padding: 0 1vw;
    border-radius: 0.2vw;
    color: white;
}
#head-content {
    position: relative;
    font-size: 2rem;
    text-align: center;
}
#required-inputs{
    margin: 2vw 0 3vw;
}

#other-inputs{
    padding: 2vw;
}

#timer-buttons button{
    margin: 1vw;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 2vw ;
    text-transform: uppercase;
    padding: 0.5vw 1vw;
}
#start-button{
    background: green;
}
#start-button:hover{
    background: #4bb04b;
}

#stop-button{
    background: red;
}
#stop-button:hover{
    background: #b76565;
}