body{
    max-width: 100%;
    min-width: 100%;
}
.container-css a{
    float: bottom;
}
.col-books{
    width: px;
}

.col-css{
    height: auto;
}
.container-css img{
    height: 50vh;
}
.container-css a{
    margin-bottom: 0;
}
.containerBookIT-css a{
    text-decoration: none;
    color: black;
}
.containerBookIT-css a:hover{
    text-decoration: underline;
    color: black;
}


.ForIELTS img{
    height: 40vh;
}
/*Navbar*/
#navbar {
    z-index: 9;
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}
.motiv-css{
    margin-top: 5%;
}
.motiv-css img{
    height: 50%;

}
.containerBookIT-css{
    margin-top: 50px;
    height: 60%;
    display: inline-block;
}
/*.books-portal{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);
}
.books-portal img{
    width: auto;
}*/
.ForIELTS{
    margin-top: 50%;
}
footer{
    padding-top: 2vw;
    height: 200px;
    background: rgb(34, 40, 49);
    color: rgb(238, 238, 238);
    font-size: 1.3rem;

}
#footer-up{
    padding-bottom: 2vw ;
}
#footer-up-textarea textarea{
    height: 10vw;
}

#footer-down{
    margin-top: 3.33vw;
}

#footer-down h6{
    font-size: 1.3rem;
}
#footer-link-list a{
    color: gray;
}
#footer-icon-list a{
    color: rgb(238, 238, 238);
    font-size: 1.7rem;
}